@page "{id}"
@model StudentsAppSQL9Pro.Pages.Students.DeleteModel
@{
}

<div>
    @if (Model.ErrorArray.Count != 0)
    {
        @foreach (var error in Model.ErrorArray)
        {
            <div>
                <p>@error.Message</p>
            </div>
        }
    }
</div>
